[submodule "RSdocs"]
	path = RSdocs
	url = https://github.com/volalm15/RSdocs
[submodule "RSmech"]
	path = RSmech
	url = https://github.com/volalm15/RSmech
[submodule "RSainf"]
	path = RSainf
	url = https://github.com/volalm15/RSainf
[submodule "RSelectro"]
	path = RSelectro
	url = https://github.com/volalm15/RSelectro
