[submodule "RSmech"]
	path = RSmech
	url = https://github.com/volalm15/RSmech
[submodule "RSinfo"]
	path = RSinfo
	url = https://github.com/volalm15/RSinfo
[submodule "RSelectro"]
	path = RSelectro
	url = https://github.com/volalm15/RSelectro
[submodule "RSdoc"]
	path = RSdoc
	url = https://github.com/volalm15/RSdoc
