.tab {
    -fx-pref-height: 120;
    -fx-pref-width: 120;
}

.tab-header-background {
    -fx-background-color: #2A2E37;
}

.jfx-tab-pane .tab-selected-line {
    -fx-background-color: grey;
}

.jfx-tab-pane .tab-label {
    -fx-text-fill: white;
    -fx-rotate: 90;
    -fx-font-size: 14;
}

.chart-bar{
    -fx-bar-fill: #373E48;
    
}
.jfx-button .jfx-rippler{
    -jfx-rippler-disabled: true;
}



